<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://functionapp-240408000546.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/90d8b49e-4a96-4a69-aa21-e5d054716076/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/functionapp-240408000546</ResourceId>
    <UserName>$functionapp-240408000546</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp-240408000546.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>